.Modal-1 {
    width: 100%;
    height: 170px;
    position: fixed;
    bottom: 0;
    /*bottom: env(safe-area-inset-bottom); !* 아이폰X 이상의 모델에서 하단에 위치하도록 설정 *!*/
    background: #fff; /* 모달의 배경색 */
    z-index: 1000;
    transition: transform 0.3s ease; /* 모달이 나타나거나 사라질 때 부드럽게 나타나도록 설정 */
    border-radius: 20px;
}

.Overlay {
    position: fixed; /* 오버레이를 화면에 고정 */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    bottom: env(safe-area-inset-bottom); /* 아이폰X 이상의 모델에서 하단에 위치하도록 설정 */
    z-index: 999; /* 오버레이가 모달 바로 뒤에 위치하도록 z-index 설정 */
}

.modal-content {
    display: block;
    text-align: center;
}

.button-container {
    display: block;
}

.modal-button {
    background-color: #EAE3FC;
    width: 168px;
    color: black;
    border: none;

    border-radius: 44px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.modal-button.selected {
    background-color: #9A8CFF;
}