.Modal {
    width: 393px;
    height: auto;
    position: absolute;
    background: #fff;
    overflow: auto;
    outline: none;
    padding: '30px';
}

.Overlay {
    position: 'fixed';
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.modal-content {
    text-align: center;
}

.button-container {
    margin-top: 20px;
}

.modal-button {
    background-color: #A883D8;
    width: 168px;
    color: black;
    border: none;
    padding: 10px 20px;
    margin: 10px;
    border-radius: 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.modal-button.selected {
    background-color: #9A8CFF;
}