.Modal {
    width: 100%;
    height: auto;
    background: #fff;
    overflow: auto;
    outline: none;
    padding: '30px';
}

.Overlay {
    position: 'fixed';
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.modal-content {
    display: block;
    text-align: center;
}

.button-container {
    display: block;
}

.modal-button {
    background-color: #EAE3FC;
    width: 168px;
    color: black;
    border: none;
    padding: 10px 20px;
    margin: 10px;
    border-radius: 44px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.modal-button.selected {
    background-color: #9A8CFF;
}