.header {
    background-color: white;
    color: black;
    font-family: 'Pretendard', sans-serif;
    /*text-align: center;*/
    height: 44px;
    align-items: center;
    justify-content: space-between;
    display: flex;
    padding: 0 16px;
    width: 100%;
    position: sticky;
    z-index: 90;
    top: 0;
    box-sizing: border-box;
    top: constant(safe-area-inset-top);
    top: env(safe-area-inset-top);
    position: fixed;
}
