.my-chat-container {
    display: flex;
    justify-content: flex-end; /* 오른쪽 정렬 */
    width: 100%; /* 컨테이너 너비를 최대로 설정 */
}

.chatbox {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 10px;
}

.chat {
    display: flex;
    margin-top: 10px;
}

.message-container {
    display: flex;
    align-items: flex-end;
    overflow-x: hidden;
}

.chat-profile, .transparent-div {
    width: 34px; /* 프로필 이미지와 동일한 크기 */
    height: 34px; /* 프로필 이미지와 동일한 크기 */
    padding-bottom: 10px;
    margin-right: 10px;
}

.transparent-div {
    visibility: hidden; /* 투명 div를 보이지 않게 함 */
}

.text-input-form {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: #f8f8f8;
    padding: 10px;
    box-sizing: border-box;
}

.text-input {
    flex-grow: 1;
    margin-right: 10px;
    margin-left: 10px;
    width: 317px;

    padding: 10px 0 10px 16px;
    height: 20px;
    border-radius: 20px;
    border: 1px solid #ddd;
}

.submit-button {
    padding: 10px 20px;
    border-radius: 20px;
    border: none;
    background-color: #6750A4;
    color: #FFFFFF;
    cursor: pointer;
}

.my-input-container {

    display: flex;
    background-color: #FFFFFF;
    height: calc(56px + env(safe-area-inset-bottom)); /* 아이폰X 이상의 모델에서 하단에 위치하도록 설정 */
    padding: 8px 0 8px 16px;
    bottom: 0;
    position: fixed;
    z-index: 999;
    right: 0;
    width: 100%; /* 컨테이너 너비를 최대로 설정 */
}

.padding-2 {
    height: 100px;
}

.send-button {
    padding-right: 16px;
    margin-top: 10px;
    width: 24px;
    height: 24px;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.loading-spinner {
    border: 4px solid rgba(0, 0, 0, 0.1);
    width: 36px;
    height: 36px;
    border-radius: 50%;
    border-left-color: #09f;
    animation: spin 1s linear infinite;
}